<a href="https://colab.research.google.com/github/eespra/Natural-Language-Processing/blob/main/Feature%20Engineering/Pre-Processsing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# <font color = 'indian red'> Pre-processing/Feature Engineering

# <font color = 'indian red'> **Install/Import Modules**

In [ ]:
if 'google.colab' in str(get_ipython()):
    print('Running on Colab')
else:
    print('Not Running on Colab')

Running on Colab

In [ ]:
if 'google.colab' in str(get_ipython()):
    !pip install  -U spacy  -q

     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 6.7/6.7 MB 56.1 MB/s eta 0:00:00
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
en-core-web-sm 3.4.1 requires spacy<3.5.0,>=3.4.0, but you have spacy 3.5.0 which is incompatible.

In [ ]:
import spacy
import pandas as pd
from pathlib import Path
import sys
import re
import joblib

/usr/local/lib/python3.8/dist-packages/torch/cuda/__init__.py:497: UserWarning: Can't initialize NVML
  warnings.warn("Can't initialize NVML")

In [ ]:
spacy.__version__

'3.4.4'

In [ ]:
%load_ext autoreload
%autoreload 2

# <font color = 'indian red'>**Specify Project Folder Location**

In [ ]:
if 'google.colab' in str(get_ipython()):
    from google.colab import drive
    drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
if 'google.colab' in str(get_ipython()):
    base_folder = Path('/content/drive/MyDrive/data/')
else:
    base_folder = Path('/home/harpreet/Insync/google_drive_shaannoor/data/')

In [ ]:
data_folder = base_folder/'datasets/'
archive_folder = base_folder/'archive'
custom_function_folder = base_folder/'custom-functions'

In [ ]:
sys.path.append(str(custom_function_folder))

In [ ]:
sys.path

['/content',
 '/env/python',
 '/usr/lib/python38.zip',
 '/usr/lib/python3.8',
 '/usr/lib/python3.8/lib-dynload',
 '',
 '/usr/local/lib/python3.8/dist-packages',
 '/usr/lib/python3/dist-packages',
 '/usr/local/lib/python3.8/dist-packages/IPython/extensions',
 '/root/.ipython',
 '/content/drive/MyDrive/data/custom-functions']

In [ ]:
if 'google.colab' in str(get_ipython()):
    !python -m spacy download en_core_web_sm

/usr/local/lib/python3.8/dist-packages/torch/cuda/__init__.py:497: UserWarning: Can't initialize NVML
  warnings.warn("Can't initialize NVML")
2023-02-13 03:53:38.051787: W tensorflow/compiler/xla/stream_executor/platform/default/dso_loader.cc:64] Could not load dynamic library 'libnvinfer.so.7'; dlerror: libnvinfer.so.7: cannot open shared object file: No such file or directory; LD_LIBRARY_PATH: /usr/local/nvidia/lib:/usr/local/nvidia/lib64
2023-02-13 03:53:38.051867: W tensorflow/compiler/xla/stream_executor/platform/default/dso_loader.cc:64] Could not load dynamic library 'libnvinfer_plugin.so.7'; dlerror: libnvinfer_plugin.so.7: cannot open shared object file: No such file or directory; LD_LIBRARY_PATH: /usr/local/nvidia/lib:/usr/local/nvidia/lib64
2023-02-13 03:53:38.051888: W tensorflow/compiler/tf2tensorrt/utils/py_utils.cc:38] TF-TRT Warning: Cannot dlopen some TensorRT libraries. If you would like to use Nvidia GPU with TensorRT, please make sure the missing libraries mentioned above are installed properly.
2023-02-13 03:53:39.293542: E tensorflow/compiler/xla/stream_executor/cuda/cuda_driver.cc:267] failed call to cuInit: CUDA_ERROR_NO_DEVICE: no CUDA-capable device is detected
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting en-core-web-sm==3.5.0
  Downloading https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.5.0/en_core_web_sm-3.5.0-py3-none-any.whl (12.8 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 12.8/12.8 MB 109.2 MB/s eta 0:00:00
Requirement already satisfied: spacy<3.6.0,>=3.5.0 in /usr/local/lib/python3.8/dist-packages (from en-core-web-sm==3.5.0) (3.5.0)
Requirement already satisfied: numpy>=1.15.0 in /usr/local/lib/python3.8/dist-packages (from spacy<3.6.0,>=3.5.0->en-core-web-sm==3.5.0) (1.21.6)
Requirement already satisfied: catalogue<2.1.0,>=2.0.6 in /usr/local/lib/python3.8/dist-packages (from spacy<3.6.0,>=3.5.0->en-core-web-sm==3.5.0) (2.0.8)
Requirement already satisfied: tqdm<5.0.0,>=4.38.0 in /usr/local/lib/python3.8/dist-packages (from spacy<3.6.0,>=3.5.0->en-core-web-sm==3.5.0) (4.64.1)
Requirement already satisfied: pydantic!=1.8,!=1.8.1,<1.11.0,>=1.7.4 in /usr/local/lib/python3.8/dist-packages (from spacy<3.6.0,>=3.5.0->en-core-web-sm==3.5.0) (1.10.4)
Requirement already satisfied: spacy-loggers<2.0.0,>=1.0.0 in /usr/local/lib/python3.8/dist-packages (from spacy<3.6.0,>=3.5.0->en-core-web-sm==3.5.0) (1.0.4)
Requirement already satisfied: spacy-legacy<3.1.0,>=3.0.11 in /usr/local/lib/python3.8/dist-packages (from spacy<3.6.0,>=3.5.0->en-core-web-sm==3.5.0) (3.0.12)
Requirement already satisfied: langcodes<4.0.0,>=3.2.0 in /usr/local/lib/python3.8/dist-packages (from spacy<3.6.0,>=3.5.0->en-core-web-sm==3.5.0) (3.3.0)
Requirement already satisfied: cymem<2.1.0,>=2.0.2 in /usr/local/lib/python3.8/dist-packages (from spacy<3.6.0,>=3.5.0->en-core-web-sm==3.5.0) (2.0.7)
Requirement already satisfied: srsly<3.0.0,>=2.4.3 in /usr/local/lib/python3.8/dist-packages (from spacy<3.6.0,>=3.5.0->en-core-web-sm==3.5.0) (2.4.5)
Requirement already satisfied: setuptools in /usr/local/lib/python3.8/dist-packages (from spacy<3.6.0,>=3.5.0->en-core-web-sm==3.5.0) (57.4.0)
Requirement already satisfied: pathy>=0.10.0 in /usr/local/lib/python3.8/dist-packages (from spacy<3.6.0,>=3.5.0->en-core-web-sm==3.5.0) (0.10.1)
Requirement already satisfied: jinja2 in /usr/local/lib/python3.8/dist-packages (from spacy<3.6.0,>=3.5.0->en-core-web-sm==3.5.0) (2.11.3)
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.8/dist-packages (from spacy<3.6.0,>=3.5.0->en-core-web-sm==3.5.0) (23.0)
Requirement already satisfied: wasabi<1.2.0,>=0.9.1 in /usr/local/lib/python3.8/dist-packages (from spacy<3.6.0,>=3.5.0->en-core-web-sm==3.5.0) (0.10.1)
Requirement already satisfied: requests<3.0.0,>=2.13.0 in /usr/local/lib/python3.8/dist-packages (from spacy<3.6.0,>=3.5.0->en-core-web-sm==3.5.0) (2.25.1)
Requirement already satisfied: preshed<3.1.0,>=3.0.2 in /usr/local/lib/python3.8/dist-packages (from spacy<3.6.0,>=3.5.0->en-core-web-sm==3.5.0) (3.0.8)
Requirement already satisfied: thinc<8.2.0,>=8.1.0 in /usr/local/lib/python3.8/dist-packages (from spacy<3.6.0,>=3.5.0->en-core-web-sm==3.5.0) (8.1.7)
Requirement already satisfied: murmurhash<1.1.0,>=0.28.0 in /usr/local/lib/python3.8/dist-packages (from spacy<3.6.0,>=3.5.0->en-core-web-sm==3.5.0) (1.0.9)
Requirement already satisfied: smart-open<7.0.0,>=5.2.1 in /usr/local/lib/python3.8/dist-packages (from spacy<3.6.0,>=3.5.0->en-core-web-sm==3.5.0) (6.3.0)
Requirement already satisfied: typer<0.8.0,>=0.3.0 in /usr/local/lib/python3.8/dist-packages (from spacy<3.6.0,>=3.5.0->en-core-web-sm==3.5.0) (0.7.0)
Requirement already satisfied: typing-extensions>=4.2.0 in /usr/local/lib/python3.8/dist-packages (from pydantic!=1.8,!=1.8.1,<1.11.0,>=1.7.4->spacy<3.6.0,>=3.5.0->en-core-web-sm==3.5.0) (4.4.0)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.8/dist-packages (from requests<3.0.0,>=2.13.0->spacy<3.6.0,>=3.5.0->en-core-web-sm==3.5.0) (1.24.3)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.8/dist-packages (from requests<3.0.0,>=2.13.0->spacy<3.6.0,>=3.5.0->en-core-web-sm==3.5.0) (2.10)
Requirement already satisfied: chardet<5,>=3.0.2 in /usr/local/lib/python3.8/dist-packages (from requests<3.0.0,>=2.13.0->spacy<3.6.0,>=3.5.0->en-core-web-sm==3.5.0) (4.0.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.8/dist-packages (from requests<3.0.0,>=2.13.0->spacy<3.6.0,>=3.5.0->en-core-web-sm==3.5.0) (2022.12.7)
Requirement already satisfied: blis<0.8.0,>=0.7.8 in /usr/local/lib/python3.8/dist-packages (from thinc<8.2.0,>=8.1.0->spacy<3.6.0,>=3.5.0->en-core-web-sm==3.5.0) (0.7.9)
Requirement already satisfied: confection<1.0.0,>=0.0.1 in /usr/local/lib/python3.8/dist-packages (from thinc<8.2.0,>=8.1.0->spacy<3.6.0,>=3.5.0->en-core-web-sm==3.5.0) (0.0.4)
Requirement already satisfied: click<9.0.0,>=7.1.1 in /usr/local/lib/python3.8/dist-packages (from typer<0.8.0,>=0.3.0->spacy<3.6.0,>=3.5.0->en-core-web-sm==3.5.0) (7.1.2)
Requirement already satisfied: MarkupSafe>=0.23 in /usr/local/lib/python3.8/dist-packages (from jinja2->spacy<3.6.0,>=3.5.0->en-core-web-sm==3.5.0) (2.0.1)
Installing collected packages: en-core-web-sm
  Attempting uninstall: en-core-web-sm
    Found existing installation: en-core-web-sm 3.4.1
    Uninstalling en-core-web-sm-3.4.1:
      Successfully uninstalled en-core-web-sm-3.4.1
Successfully installed en-core-web-sm-3.5.0
✔ Download and installation successful
You can now load the package via spacy.load('en_core_web_sm')

# <font color ='indian red'> ** Download data and combine data from multiple files into a single dataframe.**

In this task you have to download the moview reviews from the following link:
https://www.cs.cornell.edu/people/pabo/movie-review-data/scale_whole_review.tar.gz
<br>

**Instructions:** <br>

- The data has movie reviews from four different reviewers:
(1) Dennis+Schwartz,  (2) James+Berardinelli, (3) Scott+Renshaw and (4) Steve+Rhodes.

- extract the reviews of  the four reviewers in a single dataframe.
- The final dataframe should have two columns (1) Moview Review and (2) Reviewer Name.

In [ ]:
file = archive_folder/'scale_whole_review.tar.gz'
url = 'https://www.cs.cornell.edu/people/pabo/movie-review-data/scale_whole_review.tar.gz'
!wget {url} -P {archive_folder} -O {file}

--2023-02-13 03:53:46--  https://www.cs.cornell.edu/people/pabo/movie-review-data/scale_whole_review.tar.gz
Resolving www.cs.cornell.edu (www.cs.cornell.edu)... 132.236.207.36
Connecting to www.cs.cornell.edu (www.cs.cornell.edu)|132.236.207.36|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 8853204 (8.4M) [application/x-gzip]
Saving to: ‘/content/drive/MyDrive/data/archive/scale_whole_review.tar.gz’

scale_whole_review. 100%[===================>]   8.44M  9.83MB/s    in 0.9s

2023-02-13 03:53:47 (9.83 MB/s) - ‘/content/drive/MyDrive/data/archive/scale_whole_review.tar.gz’ saved [8853204/8853204]

In [ ]:
# list files of google drive where data was downloaded
for entries in archive_folder.iterdir():
  if 'tar' in entries.name:
    print(entries.name)

scale_whole_review.tar.gz

In [ ]:
# alternatively we can check directly if the file exists in the archive folder:
(archive_folder/'scale_whole_review.tar.gz').exists()

True

In [ ]:
import zipfile
import tarfile

In [ ]:
#check the content of tar file
file = archive_folder / 'scale_whole_review.tar.gz'
with  tarfile.open(file, 'r') as tar:
  tar_names = tar.getnames()

In [ ]:
tar_names[0:10]

['scaledata.README.1.0.txt',
 'scale_whole_review/Dennis+Schwartz',
 'scale_whole_review/Dennis+Schwartz/txt.parag',
 'scale_whole_review/Dennis+Schwartz/txt.parag/16748.txt',
 'scale_whole_review/Dennis+Schwartz/txt.parag/17108.txt',
 'scale_whole_review/Dennis+Schwartz/txt.parag/17109.txt',
 'scale_whole_review/Dennis+Schwartz/txt.parag/17110.txt',
 'scale_whole_review/Dennis+Schwartz/txt.parag/17111.txt',
 'scale_whole_review/Dennis+Schwartz/txt.parag/17116.txt',
 'scale_whole_review/Dennis+Schwartz/txt.parag/17117.txt']

In [ ]:
file = archive_folder / 'scale_whole_review.tar.gz'
with  tarfile.open(file, 'r') as tar:
  tar.extractall(path = data_folder)

In [ ]:
# check the content of the folder where files were extracted
for entries in data_folder.iterdir():
  if 'scale' in entries.name:
    print(entries.name)

scale_whole_review
scaledata.README.1.0.txt

In [ ]:
for entries in (data_folder/'scale_whole_review').rglob('**'):
  print(entries)

/content/drive/MyDrive/data/datasets/scale_whole_review
/content/drive/MyDrive/data/datasets/scale_whole_review/Steve+Rhodes
/content/drive/MyDrive/data/datasets/scale_whole_review/Steve+Rhodes/txt.parag
/content/drive/MyDrive/data/datasets/scale_whole_review/Scott+Renshaw
/content/drive/MyDrive/data/datasets/scale_whole_review/Scott+Renshaw/txt.parag
/content/drive/MyDrive/data/datasets/scale_whole_review/James+Berardinelli
/content/drive/MyDrive/data/datasets/scale_whole_review/James+Berardinelli/txt.parag
/content/drive/MyDrive/data/datasets/scale_whole_review/Dennis+Schwartz
/content/drive/MyDrive/data/datasets/scale_whole_review/Dennis+Schwartz/txt.parag

In [ ]:
(data_folder/'scale_whole_review').exists()

True

In [ ]:
for entries in (data_folder/'scale_whole_review').iterdir():
  print(entries.name)

Steve+Rhodes
Scott+Renshaw
James+Berardinelli
Dennis+Schwartz

In [ ]:
list((data_folder/'scale_whole_review').glob('*'))

[PosixPath('/content/drive/MyDrive/data/datasets/scale_whole_review/Steve+Rhodes'),
 PosixPath('/content/drive/MyDrive/data/datasets/scale_whole_review/Scott+Renshaw'),
 PosixPath('/content/drive/MyDrive/data/datasets/scale_whole_review/James+Berardinelli'),
 PosixPath('/content/drive/MyDrive/data/datasets/scale_whole_review/Dennis+Schwartz')]

In [ ]:
# Create an empty dataframe
combined_reviews=pd.DataFrame()
# Add path to folder
path = data_folder / "scale_whole_review"
# Iterate through the path
for reviewers in path.iterdir():
  # Create an empty list to add all reviews
  reviews=[]
  # Add txt.parag directory to existing path
  file = reviewers /"txt.parag"
  for text_file in file.iterdir():
    # open, read the text file and append to reviews list
    with open(text_file, 'r', encoding="ISO-8859-1") as f:
      reviews.append(f.read())
  # Create an temporary dataframe for adding reviews of a particular reviewer
  temp_df=pd.DataFrame()
  # Add reviews to temporary dataframe
  temp_df["Review"]=reviews
  temp_df["Reviewer"] = [reviewers.name]*(len(reviews))
  # Concatenate the temporary review dataframe with movie_reviews dataframe
  combined_reviews=pd.concat([combined_reviews,temp_df], ignore_index=True)

combined_reviews

                                                 Review         Reviewer
0     RAN, for its 15th anniversary, is being re-rel...     Steve+Rhodes
1     This is the first time that I've ever started ...     Steve+Rhodes
2     Director Harold Ramis (ANALYZE THIS and GROUND...     Steve+Rhodes
3     ROCK 'N' ROLL FRANKENSTEIN's writer and direct...     Steve+Rhodes
4     Robert Altman's DR. T AND THE WOMEN is an exce...     Steve+Rhodes
...                                                 ...              ...
5001  COOKIE'S FORTUNE (director: Robert Altman; cas...  Dennis+Schwartz
5002  AGANTUK (director: Satyajit Ray; cast: Depanka...  Dennis+Schwartz
5003  IDIOTERNE (director: Lars von Trier; cast: Bod...  Dennis+Schwartz
5004  LOVE IS THE DEVIL (director: John Maybury; Der...  Dennis+Schwartz
5005  La Religieuse (director: Jacques Rivette; cast...  Dennis+Schwartz

[5006 rows x 2 columns]

Error: Runtime no longer has a reference to this dataframe, please re-run this cell and try again.

# <font color ='indian red'> Feature Engineering and Preprocessing IMDB


- <font color = 'dodgerblue'> **PreProcessing**:</font>
  1. Remove HTML tags and new line character (\n)
  2. Remove email, urls and punctuations


- <font color = 'dodgerblue'> **Feature Engineering**

  Use the `cleaned_text` column you created in the previous step and extract following features as new column.

  1. number of words
  2. number of characters
  3. number of characters without space
  4. average word length
  5. count of numbers(37, 201, 20 etc.)

You will use the imdb moview review dataset. The details of the data can be found from this link : https://ai.stanford.edu/~amaas/data/sentiment/.

Description of the data from the above link :
"*This is a dataset for binary sentiment classification containing substantially more data than previous benchmark datasets. We provide a set of 25,000 highly polar movie reviews for training, and 25,000 for testing. There is additional unlabeled data for use as well. Raw text and already processed bag of words formats are provided. See the README file contained in the release for more details.*".

We extracted the data from text files and save  the train and test data as csv files. We further cleaned the dataset. <font size =4, color = 'dodgerblue'>**We will use train.csv file for this task.**</font>.

In [ ]:
df = pd.read_csv(data_folder/ 'train.csv', index_col=0)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 25000 entries, 0 to 24999
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Reviews  25000 non-null  object
 1   Labels   25000 non-null  int64
dtypes: int64(1), object(1)
memory usage: 585.9+ KB

In [ ]:
df.head()

                                             Reviews  Labels
0  I think this movie would be more enjoyable if ...       1
1  Timeless musical gem, with Gene Kelly in top f...       1
2  I just found the IMDb and searched this film a...       1
3  It's a short movie from David Lynch with just ...       1
4  I dug out from my garage some old musicals and...       1

Error: Runtime no longer has a reference to this dataframe, please re-run this cell and try again.

In [ ]:
#Remove HTML Tags and new line characters
from bs4 import BeautifulSoup
import re

In [ ]:
def basic_clean(text):
  """
    This function performs basic text cleaning on an input string by removing HTML tags (if present)
    and replacing newline and return characters with a space.

    Parameters:
    text (str): The input string to be cleaned

    Returns:
    str: The cleaned string
    """
  soup = BeautifulSoup(text, 'html.parser')
  if bool(soup.find()) == True:
    text = soup.get_text()
  return re.sub(r'[\n\r]',' ', text)

In [ ]:
cleaned_text = basic_clean(str(df.Reviews))

In [ ]:
df['cleaned_text'] = df.Reviews.apply(basic_clean)

In [ ]:
df.head()

,Reviews,Labels,cleaned_text
0,I think this movie would be more enjoyable if ...,1,I think this movie would be more enjoyable if ...
1,"Timeless musical gem, with Gene Kelly in top f...",1,"Timeless musical gem, with Gene Kelly in top f..."
2,I just found the IMDb and searched this film a...,1,I just found the IMDb and searched this film a...
3,It's a short movie from David Lynch with just ...,1,It's a short movie from David Lynch with just ...
4,I dug out from my garage some old musicals and...,1,I dug out from my garage some old musicals and...

Error: Runtime no longer has a reference to this dataframe, please re-run this cell and try again.
Error: Runtime no longer has a reference to this dataframe, please re-run this cell and try again.
Error: Runtime no longer has a reference to this dataframe, please re-run this cell and try again.
Error: Runtime no longer has a reference to this dataframe, please re-run this cell and try again.
Error: Runtime no longer has a reference to this dataframe, please re-run this cell and try again.
Error: Runtime no longer has a reference to this dataframe, please re-run this cell and try again.
Error: Runtime no longer has a reference to this dataframe, please re-run this cell and try again.
Error: Runtime no longer has a reference to this dataframe, please re-run this cell and try again.

In [ ]:
#remove emails, punctuations and urls
def adv_clean(text, spacy_model):
  nlp = spacy.load(spacy_model)
  disabled = nlp.select_pipes(disable=['tok2vec', 'tagger', 'parser', 'attribute_ruler', 'lemmatizer', 'ner'])
  cleaned_text = []
  for doc in nlp.pipe(text, batch_size=1000, n_process=-1):
      cleaned_doc = " ".join([token.text for token in doc if not (token.is_punct or token.like_email or token.like_url) ] )
      cleaned_text.append(cleaned_doc)
  return cleaned_text

In [ ]:
df['cleaned_text'] = adv_clean(df.cleaned_text.values, 'en_core_web_sm')

/usr/local/lib/python3.8/dist-packages/spacy/util.py:877: UserWarning: [W095] Model 'en_core_web_sm' (3.5.0) was trained with spaCy v3.5 and may not be 100% compatible with the current version (3.4.4). If you see errors or degraded performance, download a newer compatible model or retrain your custom model with the current spaCy version. For more details and available updates, run: python -m spacy validate
  warnings.warn(warn_msg)

In [ ]:
df.head()

,Reviews,Labels,cleaned_text
0,I think this movie would be more enjoyable if ...,1,I think this movie would be more enjoyable if ...
1,"Timeless musical gem, with Gene Kelly in top f...",1,Timeless musical gem with Gene Kelly in top fo...
2,I just found the IMDb and searched this film a...,1,I just found the IMDb and searched this film a...
3,It's a short movie from David Lynch with just ...,1,It 's a short movie from David Lynch with just...
4,I dug out from my garage some old musicals and...,1,I dug out from my garage some old musicals and...

In [ ]:
import numpy as np

In [ ]:

def extract_features(cleaned_text):
    num_of_words =[]
    num_of_characters =[]
    num_of_no_space =[]
    avg_wordlength=[]
    numbers_count=[]
    for sent in cleaned_text:
        words = re.sub(r'\b\d+\b','',sent)
        numbers = re.findall(r'\b\d+\b', sent)

        feature1_w = len(words.split())
        feature2_c = len(words)
        feature3_n = len(''.join(words.split()))
        feature4_a = feature3_n/feature1_w
        feature5_nc = len(numbers)


        num_of_words.append(feature1_w)
        num_of_characters.append(feature2_c)
        num_of_no_space.append(feature3_n)
        avg_wordlength.append(feature4_a)
        numbers_count.append(feature5_nc)

    count_features = np.vstack((num_of_words, num_of_characters,
                              num_of_no_space, avg_wordlength,
                              numbers_count ))
    return np.transpose(count_features)

In [ ]:
count_features = extract_features(df.cleaned_text.values)

In [ ]:
features = pd.DataFrame(count_features, columns = ['num_of_words', 'num_of_characters',
                              'num_of_no_space_characters', 'avg_wordlength','numbers_count'])
features

,num_of_words,num_of_characters,num_of_no_space_characters,avg_wordlength,numbers_count
0,160.0,804.0,643.0,4.018750,2.0
1,87.0,494.0,407.0,4.678161,1.0
2,146.0,670.0,523.0,3.582192,2.0
3,172.0,934.0,753.0,4.377907,1.0
4,143.0,776.0,633.0,4.426573,3.0
...,...,...,...,...,...
24995,201.0,1007.0,807.0,4.014925,0.0
24996,533.0,3060.0,2525.0,4.737336,0.0
24997,147.0,736.0,589.0,4.006803,1.0
24998,562.0,2906.0,2340.0,4.163701,5.0
24999,287.0,1524.0,1238.0,4.313589,0.0

In [ ]:
df = pd.concat((df, features), axis =1)

In [ ]:
df.head()

,Reviews,Labels,cleaned_text,num_of_words,num_of_characters,num_of_no_space_characters,avg_wordlength,numbers_count
0,I think this movie would be more enjoyable if ...,1,I think this movie would be more enjoyable if ...,160.0,804.0,643.0,4.018750,2.0
1,"Timeless musical gem, with Gene Kelly in top f...",1,Timeless musical gem with Gene Kelly in top fo...,87.0,494.0,407.0,4.678161,1.0
2,I just found the IMDb and searched this film a...,1,I just found the IMDb and searched this film a...,146.0,670.0,523.0,3.582192,2.0
3,It's a short movie from David Lynch with just ...,1,It 's a short movie from David Lynch with just...,172.0,934.0,753.0,4.377907,1.0
4,I dug out from my garage some old musicals and...,1,I dug out from my garage some old musicals and...,143.0,776.0,633.0,4.426573,3.0

# <font color ='indian red'> Rule Based Matching

## <font color = 'dodgerblue'> **Get Data**
we wil use a subset of United Nations General Debate Corpus.
    
Reference: Jankin Mikhaylov, Slava; Baturo, Alexander; Dasandi, Niheer, 2017, "United Nations General Debate Corpus", https://doi.org/10.7910/DVN/0TJX8Y, Harvard Dataverse, V6
    
**Data Description from [here](https://dataverse.harvard.edu/dataset.xhtml?persistentId=doi:10.7910/DVN/0TJX8Y)**
"*Every year since 1946, representatives of the UN member states gather at the annual sessions of the United Nations General Assembly. The centrepiece of each session is the General Debate. This is a forum at which leaders and other senior officials deliver statements that present their government’s perspective on the major issues in world politics.*"
    
You can download the individual text files form here <font color = 'indianred'> UNGDC_1970-2020.tar.gz </font> from this [link](https://dataverse.harvard.edu/dataset.xhtml?persistentId=doi:10.7910/DVN/0TJX8Y).

In [ ]:
# change the path to where you have downloaded the file - 'ungdc_cleaned_df.joblib'
df = joblib.load(data_folder/'ungdc_cleaned_df.joblib')

In [ ]:
df.head()

,Unnamed: 0,years,countries,sessions,speeches,cleaned_speeches
0,0,1970,ALB,25,33: May I first convey to our President the co...,33: May I first convey to our President the co...
1,1,1970,ARG,25,177.\t : It is a fortunate coincidence that pr...,: It is a fortunate coincidence that precisel...
2,2,1970,AUS,25,100.\t It is a pleasure for me to extend to y...,"It is a pleasure for me to extend to you, Mr..."
3,3,1970,AUT,25,155.\t May I begin by expressing to Ambassado...,May I begin by expressing to Ambassador Hamb...
4,4,1970,BEL,25,"176. No doubt each of us, before coming up to ...","176. No doubt each of us, before coming up to ..."

In [ ]:
df['countries'].value_counts()

ALB    51
IND    51
IRQ    51
ISL    51
ISR    51
       ..
MNE    15
SRB    15
EU     10
SSD     9
POR     1
Name: countries, Length: 201, dtype: int64

## <font color = 'dodgerblue'> **Get Subset of Data**

For the HW we will use subset of data. We will extract data for USA and India. The Country codes are "USA" and "IND".

In [ ]:
df_subset = df[(df['countries']=='USA') | (df['countries']=='IND')].copy()

In [ ]:
df_subset['countries'].value_counts()

IND    51
USA    51
Name: countries, dtype: int64

In [ ]:
df_subset.head()

,Unnamed: 0,years,countries,sessions,speeches,cleaned_speeches
26,26,1970,IND,25,"40.\t Mr. President, I offer you our congratul...","Mr. President, I offer you our congratulation..."
65,65,1970,USA,25,1.\t It is my privilege to extend to you once ...,It is my privilege to extend to you once agai...
114,114,1971,IND,26,"38.\tMr. President, on behalf of the people of...","Mr. President, on behalf of the people of Indi..."
179,179,1971,USA,26,"Mr. President, I should like first of all to ...","Mr. President, I should like first of all to ..."
238,238,1972,IND,27,"Mr. President, I offer you on behalf of India ...","Mr. President, I offer you on behalf of India ..."

## <font color = 'dodgerblue'>  **Task Description**

For the task you will use the subset of data related to speeches of India and USA only. We have extracted this subset above.

In this task you will have to extract top ten (based on frequency) initiatives mentioned in speeches from USA and India. The initiatives are defined based on follwing set

```
initiative_list = ['programme','scheme',
                 'initiative','campaign',
                 'agreement','conference',
                 'alliance','plan']
```

Some examples of initiatives will be - (1) United Nations International Drug Control Programme (2) Global Peace Operations Initiative (3) Global Alliance.

Negative exaples -- (1) good plan, (2) excellent initiative etc.

- The initiatives can be two or more tokens. The last token will be the token from the list above.
- You have to extract the unique initiatives from each speech (Hint : convert list of matches to set)
- Finally, you have to provide the top ten initiatives in speeches across the years for USA and India.

## <font color = 'dodgerblue'>**Understanding Structure of initiatives/plans/schemes**

In [ ]:
nlp = spacy.load('en_core_web_sm')

/usr/local/lib/python3.8/dist-packages/spacy/util.py:877: UserWarning: [W095] Model 'en_core_web_sm' (3.5.0) was trained with spaCy v3.5 and may not be 100% compatible with the current version (3.4.4). If you see errors or degraded performance, download a newer compatible model or retrain your custom model with the current spaCy version. For more details and available updates, run: python -m spacy validate
  warnings.warn(warn_msg)

In [ ]:
sample = '''The United States will continue its strong efforts to advance the United Nations plan for Namibia.The United States and Italy have proposed a Global Peace Operations Initiative
For 35 years, United Nations International Drug Control Programme has helped. This scheme was good. It was a great plan'''

In [ ]:
doc = nlp(sample)
print(f"{'token.text':<15} -> {'token.pos_':<10} -> {'token.dep_':<10}")
for token in doc:
    print(f'{token.text:<15} -> {token.pos_:<10} -> {token.dep_:<10}')

token.text      -> token.pos_ -> token.dep_
The             -> DET        -> det
United          -> PROPN      -> compound
States          -> PROPN      -> nsubj
will            -> AUX        -> aux
continue        -> VERB       -> ROOT
its             -> PRON       -> poss
strong          -> ADJ        -> amod
efforts         -> NOUN       -> dobj
to              -> PART       -> aux
advance         -> VERB       -> acl
the             -> DET        -> det
United          -> PROPN      -> compound
Nations         -> PROPN      -> compound
plan            -> NOUN       -> dobj
for             -> ADP        -> prep
Namibia         -> PROPN      -> pobj
.               -> PUNCT      -> punct
The             -> DET        -> det
United          -> PROPN      -> compound
States          -> PROPN      -> nsubj
and             -> CCONJ      -> cc
Italy           -> PROPN      -> conj
have            -> AUX        -> aux
proposed        -> VERB       -> ROOT
a               -> DET        -> det
Global          -> PROPN      -> compound
Peace           -> PROPN      -> compound
Operations      -> PROPN      -> compound
Initiative      -> PROPN      -> dobj

               -> SPACE      -> dep
For             -> ADP        -> prep
35              -> NUM        -> nummod
years           -> NOUN       -> pobj
,               -> PUNCT      -> punct
United          -> PROPN      -> compound
Nations         -> PROPN      -> compound
International   -> PROPN      -> compound
Drug            -> PROPN      -> compound
Control         -> PROPN      -> compound
Programme       -> PROPN      -> nsubj
has             -> AUX        -> aux
helped          -> VERB       -> conj
.               -> PUNCT      -> punct
This            -> DET        -> det
scheme          -> NOUN       -> nsubj
was             -> AUX        -> ROOT
good            -> ADJ        -> acomp
.               -> PUNCT      -> punct
It              -> PRON       -> nsubj
was             -> AUX        -> ROOT
a               -> DET        -> det
great           -> ADJ        -> amod
plan            -> NOUN       -> attr

## <font color = 'dodgerblue'> **Get Initiatives**

In [ ]:
initiative_list = ['programme','scheme',
                 'initiative','campaign',
                 'agreement','conference',
                 'alliance','plan']

In [ ]:
from spacy.matcher import Matcher

In [ ]:
matcher = Matcher(nlp.vocab)
doc = nlp(sample)
pattern1 =[{"POS": "PROPN","OP":"+"},
              {"LOWER": {"IN": initiative_list}}]
 # code here
matcher.add("Initiative",[pattern1], greedy="LONGEST")

#matcher.add("Initiatives" , [pattern1])# code here)
matches = matcher(doc)
for match_id, start, end in matches:
  print(doc[start:end].text)

United Nations International Drug Control Programme
Global Peace Operations Initiative
United Nations plan

In [ ]:
def get_initiatives(text):
    nlp = spacy.load('en_core_web_sm')
    initiative_list = ['programme','scheme',
                 'initiative','campaign',
                 'agreement','conference',
                 'alliance','plan']

    pattern1 = [{"POS": "PROPN","OP":"+"},
              {"LOWER": {"IN": initiative_list}}] # code here
    matcher = Matcher(nlp.vocab)
    matcher.add("Initiative", [pattern1],greedy="LONGEST")# code here)

    initiatives =[]
    for doc in nlp.pipe(text, batch_size=20, n_process=8):
        matches = matcher(doc)
        initiative_doc = [doc[start:end].text.strip() for match_id, start, end in matches]# code here
        initiatives.append(initiative_doc)
    return initiatives

In [ ]:
# if your pattern is correct, running this cell should give you the same result as result below
get_initiatives([sample])

/usr/local/lib/python3.8/dist-packages/spacy/util.py:877: UserWarning: [W095] Model 'en_core_web_sm' (3.5.0) was trained with spaCy v3.5 and may not be 100% compatible with the current version (3.4.4). If you see errors or degraded performance, download a newer compatible model or retrain your custom model with the current spaCy version. For more details and available updates, run: python -m spacy validate
  warnings.warn(warn_msg)

[['United Nations International Drug Control Programme',
  'Global Peace Operations Initiative',
  'United Nations plan']]

In [ ]:
# DO NOT RUN THIS CELL

[['United Nations plan',
  'Global Peace Operations Initiative',
  'United Nations International Drug Control Programme']]

In [ ]:
# if your pattern is correct, running this cell should give you the same result as result below
get_initiatives([df_subset.loc[114,'cleaned_speeches']])

[['Fourth International Conference',
  'Quadripartite Agreement',
  'General Agreement']]

In [ ]:
# DO NOT RUN THIS CELL

[['General Agreement',
  'Quadripartite Agreement',
  'Fourth International Conference']]

In [ ]:
initiatives = get_initiatives(df_subset['cleaned_speeches'].values)

In [ ]:
df_subset['initiatives'] = initiatives

In [ ]:
# if your pattern is correct, running this cell should give you the same result as result below
df_subset.head()

,Unnamed: 0,years,countries,sessions,speeches,cleaned_speeches,initiatives
26,26,1970,IND,25,"40.\t Mr. President, I offer you our congratul...","Mr. President, I offer you our congratulation...",[United Nations Conference]
65,65,1970,USA,25,1.\t It is my privilege to extend to you once ...,It is my privilege to extend to you once agai...,"[United States initiative, United Nations Conf..."
114,114,1971,IND,26,"38.\tMr. President, on behalf of the people of...","Mr. President, on behalf of the people of Indi...","[Fourth International Conference, Quadripartit..."
179,179,1971,USA,26,"Mr. President, I should like first of all to ...","Mr. President, I should like first of all to ...","[Suez Canal agreement, Suez Canal agreement, B..."
238,238,1972,IND,27,"Mr. President, I offer you on behalf of India ...","Mr. President, I offer you on behalf of India ...","[United Nations Conference, Simla Agreement, S..."

In [ ]:
# DO NOT RUN THIS CELL

,Unnamed: 0,years,countries,sessions,speeches,cleaned_speeches,initiatives
26,26,1970,IND,25,"40.\t Mr. President, I offer you our congratul...","Mr. President, I offer you our congratulation...",[United Nations Conference]
65,65,1970,USA,25,1.\t It is my privilege to extend to you once ...,It is my privilege to extend to you once agai...,"[United Nations Conference, United States init..."
114,114,1971,IND,26,"38.\tMr. President, on behalf of the people of...","Mr. President, on behalf of the people of Indi...","[General Agreement, Quadripartite Agreement, F..."
179,179,1971,USA,26,"Mr. President, I should like first of all to ...","Mr. President, I should like first of all to ...","[Suez Canal agreement, Berlin agreement]"
238,238,1972,IND,27,"Mr. President, I offer you on behalf of India ...","Mr. President, I offer you on behalf of India ...","[Simla Agreement, United Nations Conference, S..."

## <font color = 'dodgerblue'> **Compare Initiatves of USA and India**

In [ ]:
from collections import Counter

In [ ]:
# Write a function that takes country as an input and gives the counter object for that
# country as output.
# Hint:Start with an empty list. You will have to iterate over the initiative column
# for the specific country # and extract all the initiatives in one list
# (see append vs extend for python list). You will then pass the list to Counter Object.
def get_initiative_country(country: str):
    all_initiatives =[]
    for index, row in df_subset.iterrows():
        if row['countries'] == country:
            all_initiatives+=(row['initiatives'])

    # code here
    return Counter(all_initiatives)

In [ ]:
initiatives_usa = get_initiative_country('USA')

In [ ]:
initiatives_india = get_initiative_country('IND')

In [ ]:
# If your function is correct, running this cell should give you the similar result as result below
# The results need not be exactly the same.
initiatives_usa.most_common(10)

[('United Nations Conference', 7),
 ('Armistice Agreement', 7),
 ('General Agreement', 5),
 ('World Food Conference', 4),
 ('Geneva Conference', 4),
 ('Marshall Plan', 4),
 ('San Francisco Conference', 4),
 ('North American Free Trade Agreement', 4),
 ('Suez Canal agreement', 3),
 ('Sinai agreement', 3)]

In [ ]:
# DO NOT RUN THIS CELL

[('United Nations Conference', 6),
 ('General Agreement', 5),
 ('San Francisco Conference', 4),
 ('North American Free Trade Agreement', 4),
 ('Geneva Conference', 3),
 ('Marshall Plan', 3),
 ('Emergency Plan', 3),
 ('Stockholm Conference', 2),
 ('Suez Canal agreement', 2),
 ('World Food Conference', 2)]

In [ ]:
# If your function is correct, running this cell should give you the similar result as result below
# The results need not be exactly the same.
initiatives_india.most_common(10)

[('United Nations Conference', 20),
 ('Simla Agreement', 17),
 ('International Conference', 8),
 ('Paris Agreement', 6),
 ('United Nations plan', 6),
 ('New Delhi Conference', 5),
 ('Third United Nations Conference', 4),
 ('Colombo Conference', 4),
 ('Seventh Conference', 4),
 ('International Solar Alliance', 4)]

In [ ]:
# DO NOT RUN THIS CELL

[('United Nations Conference', 18),
 ('Simla Agreement', 8),
 ('International Conference', 7),
 ('United Nations plan', 5),
 ('Paris Agreement', 4),
 ('Third United Nations Conference', 4),
 ('International Solar Alliance', 4),
 ('General Agreement', 3),
 ('Seventh Conference', 3),
 ('United Nations Environment Programme', 2)]