# <font color = 'pickle'>**Pre-processing/Feature Engineering  **

#<font color = 'pickle'>**Installing/Importing libraries**

In [ ]:
!pip install -U spacy

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: spacy in /usr/local/lib/python3.8/dist-packages (3.4.4)
Collecting spacy
  Downloading spacy-3.5.0-cp38-cp38-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (6.7 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 6.7/6.7 MB 34.9 MB/s eta 0:00:00
Requirement already satisfied: srsly<3.0.0,>=2.4.3 in /usr/local/lib/python3.8/dist-packages (from spacy) (2.4.5)
Requirement already satisfied: pathy>=0.10.0 in /usr/local/lib/python3.8/dist-packages (from spacy) (0.10.1)
Requirement already satisfied: numpy>=1.15.0 in /usr/local/lib/python3.8/dist-packages (from spacy) (1.21.6)
Requirement already satisfied: wasabi<1.2.0,>=0.9.1 in /usr/local/lib/python3.8/dist-packages (from spacy) (0.10.1)
Requirement already satisfied: spacy-legacy<3.1.0,>=3.0.11 in /usr/local/lib/python3.8/dist-packages (from spacy) (3.0.12)
Requirement already satisfied: requests<3.0.0,>=2.13.0 in /usr/local/lib/python3.8/dist-packages (from spacy) (2.25.1)
Requirement already satisfied: cymem<2.1.0,>=2.0.2 in /usr/local/lib/python3.8/dist-packages (from spacy) (2.0.7)
Requirement already satisfied: catalogue<2.1.0,>=2.0.6 in /usr/local/lib/python3.8/dist-packages (from spacy) (2.0.8)
Requirement already satisfied: preshed<3.1.0,>=3.0.2 in /usr/local/lib/python3.8/dist-packages (from spacy) (3.0.8)
Requirement already satisfied: setuptools in /usr/local/lib/python3.8/dist-packages (from spacy) (57.4.0)
Requirement already satisfied: langcodes<4.0.0,>=3.2.0 in /usr/local/lib/python3.8/dist-packages (from spacy) (3.3.0)
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.8/dist-packages (from spacy) (23.0)
Requirement already satisfied: murmurhash<1.1.0,>=0.28.0 in /usr/local/lib/python3.8/dist-packages (from spacy) (1.0.9)
Requirement already satisfied: typer<0.8.0,>=0.3.0 in /usr/local/lib/python3.8/dist-packages (from spacy) (0.7.0)
Requirement already satisfied: spacy-loggers<2.0.0,>=1.0.0 in /usr/local/lib/python3.8/dist-packages (from spacy) (1.0.4)
Requirement already satisfied: pydantic!=1.8,!=1.8.1,<1.11.0,>=1.7.4 in /usr/local/lib/python3.8/dist-packages (from spacy) (1.10.4)
Requirement already satisfied: jinja2 in /usr/local/lib/python3.8/dist-packages (from spacy) (2.11.3)
Requirement already satisfied: smart-open<7.0.0,>=5.2.1 in /usr/local/lib/python3.8/dist-packages (from spacy) (6.3.0)
Requirement already satisfied: tqdm<5.0.0,>=4.38.0 in /usr/local/lib/python3.8/dist-packages (from spacy) (4.64.1)
Requirement already satisfied: thinc<8.2.0,>=8.1.0 in /usr/local/lib/python3.8/dist-packages (from spacy) (8.1.7)
Requirement already satisfied: typing-extensions>=4.2.0 in /usr/local/lib/python3.8/dist-packages (from pydantic!=1.8,!=1.8.1,<1.11.0,>=1.7.4->spacy) (4.4.0)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.8/dist-packages (from requests<3.0.0,>=2.13.0->spacy) (2.10)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.8/dist-packages (from requests<3.0.0,>=2.13.0->spacy) (1.24.3)
Requirement already satisfied: chardet<5,>=3.0.2 in /usr/local/lib/python3.8/dist-packages (from requests<3.0.0,>=2.13.0->spacy) (4.0.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.8/dist-packages (from requests<3.0.0,>=2.13.0->spacy) (2022.12.7)
Requirement already satisfied: confection<1.0.0,>=0.0.1 in /usr/local/lib/python3.8/dist-packages (from thinc<8.2.0,>=8.1.0->spacy) (0.0.4)
Requirement already satisfied: blis<0.8.0,>=0.7.8 in /usr/local/lib/python3.8/dist-packages (from thinc<8.2.0,>=8.1.0->spacy) (0.7.9)
Requirement already satisfied: click<9.0.0,>=7.1.1 in /usr/local/lib/python3.8/dist-packages (from typer<0.8.0,>=0.3.0->spacy) (7.1.2)
Requirement already satisfied: MarkupSafe>=0.23 in /usr/local/lib/python3.8/dist-packages (from jinja2->spacy) (2.0.1)
Installing collected packages: spacy
  Attempting uninstall: spacy
    Found existing installation: spacy 3.4.4
    Uninstalling spacy-3.4.4:
      Successfully uninstalled spacy-3.4.4
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
en-core-web-sm 3.4.1 requires spacy<3.5.0,>=3.4.0, but you have spacy 3.5.0 which is incompatible.
Successfully installed spacy-3.5.0

In [ ]:
# Import libraries
import pandas as pd
import spacy
import re
from bs4 import BeautifulSoup
from pathlib import Path
import tarfile
import random
import numpy as np

/usr/local/lib/python3.8/dist-packages/torch/cuda/__init__.py:497: UserWarning: Can't initialize NVML
  warnings.warn("Can't initialize NVML")

In [ ]:
# check the version of spacy
# your spacy version should be 3.1.2
print(spacy.__version__)

3.5.0

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
# download spacy model
!python -m spacy download en_core_web_sm

/usr/local/lib/python3.8/dist-packages/torch/cuda/__init__.py:497: UserWarning: Can't initialize NVML
  warnings.warn("Can't initialize NVML")
2023-02-13 03:51:22.143403: W tensorflow/compiler/xla/stream_executor/platform/default/dso_loader.cc:64] Could not load dynamic library 'libnvinfer.so.7'; dlerror: libnvinfer.so.7: cannot open shared object file: No such file or directory; LD_LIBRARY_PATH: /usr/local/nvidia/lib:/usr/local/nvidia/lib64
2023-02-13 03:51:22.143510: W tensorflow/compiler/xla/stream_executor/platform/default/dso_loader.cc:64] Could not load dynamic library 'libnvinfer_plugin.so.7'; dlerror: libnvinfer_plugin.so.7: cannot open shared object file: No such file or directory; LD_LIBRARY_PATH: /usr/local/nvidia/lib:/usr/local/nvidia/lib64
2023-02-13 03:51:22.143528: W tensorflow/compiler/tf2tensorrt/utils/py_utils.cc:38] TF-TRT Warning: Cannot dlopen some TensorRT libraries. If you would like to use Nvidia GPU with TensorRT, please make sure the missing libraries mentioned above are installed properly.
2023-02-13 03:51:23.770456: E tensorflow/compiler/xla/stream_executor/cuda/cuda_driver.cc:267] failed call to cuInit: CUDA_ERROR_NO_DEVICE: no CUDA-capable device is detected
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting en-core-web-sm==3.5.0
  Downloading https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.5.0/en_core_web_sm-3.5.0-py3-none-any.whl (12.8 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 12.8/12.8 MB 68.3 MB/s eta 0:00:00
Requirement already satisfied: spacy<3.6.0,>=3.5.0 in /usr/local/lib/python3.8/dist-packages (from en-core-web-sm==3.5.0) (3.5.0)
Requirement already satisfied: murmurhash<1.1.0,>=0.28.0 in /usr/local/lib/python3.8/dist-packages (from spacy<3.6.0,>=3.5.0->en-core-web-sm==3.5.0) (1.0.9)
Requirement already satisfied: tqdm<5.0.0,>=4.38.0 in /usr/local/lib/python3.8/dist-packages (from spacy<3.6.0,>=3.5.0->en-core-web-sm==3.5.0) (4.64.1)
Requirement already satisfied: jinja2 in /usr/local/lib/python3.8/dist-packages (from spacy<3.6.0,>=3.5.0->en-core-web-sm==3.5.0) (2.11.3)
Requirement already satisfied: requests<3.0.0,>=2.13.0 in /usr/local/lib/python3.8/dist-packages (from spacy<3.6.0,>=3.5.0->en-core-web-sm==3.5.0) (2.25.1)
Requirement already satisfied: setuptools in /usr/local/lib/python3.8/dist-packages (from spacy<3.6.0,>=3.5.0->en-core-web-sm==3.5.0) (57.4.0)
Requirement already satisfied: thinc<8.2.0,>=8.1.0 in /usr/local/lib/python3.8/dist-packages (from spacy<3.6.0,>=3.5.0->en-core-web-sm==3.5.0) (8.1.7)
Requirement already satisfied: srsly<3.0.0,>=2.4.3 in /usr/local/lib/python3.8/dist-packages (from spacy<3.6.0,>=3.5.0->en-core-web-sm==3.5.0) (2.4.5)
Requirement already satisfied: smart-open<7.0.0,>=5.2.1 in /usr/local/lib/python3.8/dist-packages (from spacy<3.6.0,>=3.5.0->en-core-web-sm==3.5.0) (6.3.0)
Requirement already satisfied: langcodes<4.0.0,>=3.2.0 in /usr/local/lib/python3.8/dist-packages (from spacy<3.6.0,>=3.5.0->en-core-web-sm==3.5.0) (3.3.0)
Requirement already satisfied: pydantic!=1.8,!=1.8.1,<1.11.0,>=1.7.4 in /usr/local/lib/python3.8/dist-packages (from spacy<3.6.0,>=3.5.0->en-core-web-sm==3.5.0) (1.10.4)
Requirement already satisfied: preshed<3.1.0,>=3.0.2 in /usr/local/lib/python3.8/dist-packages (from spacy<3.6.0,>=3.5.0->en-core-web-sm==3.5.0) (3.0.8)
Requirement already satisfied: numpy>=1.15.0 in /usr/local/lib/python3.8/dist-packages (from spacy<3.6.0,>=3.5.0->en-core-web-sm==3.5.0) (1.21.6)
Requirement already satisfied: cymem<2.1.0,>=2.0.2 in /usr/local/lib/python3.8/dist-packages (from spacy<3.6.0,>=3.5.0->en-core-web-sm==3.5.0) (2.0.7)
Requirement already satisfied: wasabi<1.2.0,>=0.9.1 in /usr/local/lib/python3.8/dist-packages (from spacy<3.6.0,>=3.5.0->en-core-web-sm==3.5.0) (0.10.1)
Requirement already satisfied: typer<0.8.0,>=0.3.0 in /usr/local/lib/python3.8/dist-packages (from spacy<3.6.0,>=3.5.0->en-core-web-sm==3.5.0) (0.7.0)
Requirement already satisfied: catalogue<2.1.0,>=2.0.6 in /usr/local/lib/python3.8/dist-packages (from spacy<3.6.0,>=3.5.0->en-core-web-sm==3.5.0) (2.0.8)
Requirement already satisfied: pathy>=0.10.0 in /usr/local/lib/python3.8/dist-packages (from spacy<3.6.0,>=3.5.0->en-core-web-sm==3.5.0) (0.10.1)
Requirement already satisfied: spacy-legacy<3.1.0,>=3.0.11 in /usr/local/lib/python3.8/dist-packages (from spacy<3.6.0,>=3.5.0->en-core-web-sm==3.5.0) (3.0.12)
Requirement already satisfied: spacy-loggers<2.0.0,>=1.0.0 in /usr/local/lib/python3.8/dist-packages (from spacy<3.6.0,>=3.5.0->en-core-web-sm==3.5.0) (1.0.4)
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.8/dist-packages (from spacy<3.6.0,>=3.5.0->en-core-web-sm==3.5.0) (23.0)
Requirement already satisfied: typing-extensions>=4.2.0 in /usr/local/lib/python3.8/dist-packages (from pydantic!=1.8,!=1.8.1,<1.11.0,>=1.7.4->spacy<3.6.0,>=3.5.0->en-core-web-sm==3.5.0) (4.4.0)
Requirement already satisfied: chardet<5,>=3.0.2 in /usr/local/lib/python3.8/dist-packages (from requests<3.0.0,>=2.13.0->spacy<3.6.0,>=3.5.0->en-core-web-sm==3.5.0) (4.0.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.8/dist-packages (from requests<3.0.0,>=2.13.0->spacy<3.6.0,>=3.5.0->en-core-web-sm==3.5.0) (2022.12.7)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.8/dist-packages (from requests<3.0.0,>=2.13.0->spacy<3.6.0,>=3.5.0->en-core-web-sm==3.5.0) (1.24.3)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.8/dist-packages (from requests<3.0.0,>=2.13.0->spacy<3.6.0,>=3.5.0->en-core-web-sm==3.5.0) (2.10)
Requirement already satisfied: confection<1.0.0,>=0.0.1 in /usr/local/lib/python3.8/dist-packages (from thinc<8.2.0,>=8.1.0->spacy<3.6.0,>=3.5.0->en-core-web-sm==3.5.0) (0.0.4)
Requirement already satisfied: blis<0.8.0,>=0.7.8 in /usr/local/lib/python3.8/dist-packages (from thinc<8.2.0,>=8.1.0->spacy<3.6.0,>=3.5.0->en-core-web-sm==3.5.0) (0.7.9)
Requirement already satisfied: click<9.0.0,>=7.1.1 in /usr/local/lib/python3.8/dist-packages (from typer<0.8.0,>=0.3.0->spacy<3.6.0,>=3.5.0->en-core-web-sm==3.5.0) (7.1.2)
Requirement already satisfied: MarkupSafe>=0.23 in /usr/local/lib/python3.8/dist-packages (from jinja2->spacy<3.6.0,>=3.5.0->en-core-web-sm==3.5.0) (2.0.1)
Installing collected packages: en-core-web-sm
  Attempting uninstall: en-core-web-sm
    Found existing installation: en-core-web-sm 3.4.1
    Uninstalling en-core-web-sm-3.4.1:
      Successfully uninstalled en-core-web-sm-3.4.1
Successfully installed en-core-web-sm-3.5.0
✔ Download and installation successful
You can now load the package via spacy.load('en_core_web_sm')

In [ ]:
# spcify folder path for data download
base_folder = Path('/content/drive/MyDrive/data')

In [ ]:
data_folder = base_folder/'datasets'
archive_folder = base_folder/'archive'

# <font color ='pickle'> ** Download data and combine data from multiple files into a single dataframe.**

download the moview reviews from the following link:
https://www.cs.cornell.edu/people/pabo/movie-review-data/scale_whole_review.tar.gz
<br>

**Instructions:** <br>

- The data has movie reviews from four different reviewers:
(1) Dennis+Schwartz,  (2) James+Berardinelli, (3) Scott+Renshaw and (4) Steve+Rhodes.

- extract the reviews of  the four reviewers in a single dataframe.
- The final dataframe should have two columns (1) Moview Review and (2) Reviewer Name.

##  <font color ='pickle'>**Solution Task 1 Steps**

- Step1: use !wget to download data files from URl
- Step2: check content of folder where data was downloaded
- Step3: Check content of zipped/tar folder
- Step 4: unzip/untar files
- Step 4a: Understand the structure of unzipped folder/files (only required if data is stored in multiple folders and files).
- Step 5: Check content of the main file using !head command.
- Step 6a: combine data from multiple files ( if data is stored in multiple files).
- Step6: Create a dataframe

## <font color ='pickle'>**Step1: use wget to download data files from URl**

In [ ]:
# Download a  file to the filesystem from a url using the wget commmand
# syntax  !wget {url} -P {path_to_save_file}
# if we do not specify -P , files will be saved in current direcory
file = archive_folder/'scale_whole_review.tar.gz'
url = 'https://www.cs.cornell.edu/people/pabo/movie-review-data/scale_whole_review.tar.gz'
!wget {url} -P {archive_folder} -O {file}

--2023-02-13 03:51:31--  https://www.cs.cornell.edu/people/pabo/movie-review-data/scale_whole_review.tar.gz
Resolving www.cs.cornell.edu (www.cs.cornell.edu)... 132.236.207.36
Connecting to www.cs.cornell.edu (www.cs.cornell.edu)|132.236.207.36|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 8853204 (8.4M) [application/x-gzip]
Saving to: ‘/content/drive/MyDrive/data/archive/scale_whole_review.tar.gz’

scale_whole_review. 100%[===================>]   8.44M  28.1MB/s    in 0.3s

2023-02-13 03:51:32 (28.1 MB/s) - ‘/content/drive/MyDrive/data/archive/scale_whole_review.tar.gz’ saved [8853204/8853204]

## <font color ='pickle'>**Step2: check content of folder where data was downloaded**

In [ ]:
# list files of google drive where data was downloaded
for entries in archive_folder.iterdir():
  if 'tar' in entries.name:
    print(entries.name)

scale_whole_review.tar.gz

Since this is a tar file, we will use tarfile module to read the file
```python
with  tarfile.open(tar_file, 'r') as tar:
  print(tar.getnames())
```
Here tar_fileis is the compressed file. We first open this file in read mode and then use file.getnames to list the content of the file

## <font color ='pickle'>**Step3: Check content of zipped/tar folder**

In [ ]:
## check the content of tar file
file = archive_folder / 'scale_whole_review.tar.gz'
with  tarfile.open(file, 'r') as tar:
  file_names = tar.getnames()

In [ ]:
# check total files in compressed file
len(file_names)

5015

In [ ]:
i = 0
for file_name in file_names:
  print(file_name)
  i += 1
  if i > 10:
    break

scaledata.README.1.0.txt
scale_whole_review/Dennis+Schwartz
scale_whole_review/Dennis+Schwartz/txt.parag
scale_whole_review/Dennis+Schwartz/txt.parag/16748.txt
scale_whole_review/Dennis+Schwartz/txt.parag/17108.txt
scale_whole_review/Dennis+Schwartz/txt.parag/17109.txt
scale_whole_review/Dennis+Schwartz/txt.parag/17110.txt
scale_whole_review/Dennis+Schwartz/txt.parag/17111.txt
scale_whole_review/Dennis+Schwartz/txt.parag/17116.txt
scale_whole_review/Dennis+Schwartz/txt.parag/17117.txt
scale_whole_review/Dennis+Schwartz/txt.parag/17118.txt

## <font color ='pickle'>**Step 4: unzip/untar files**

We will now open the tar file in read mode and then use file.extractall to extract all the files
```python
with  tarfile.open(file, 'r') as tar:
  tar.extractall(path = folder)
```
path is the location where we want to save the extracted files.

In [ ]:
# Let us extract the files from the tar file using the command below
file = archive_folder/'scale_whole_review.tar.gz'
with  tarfile.open(file, 'r') as tar:
  tar.extractall(path = data_folder)

KeyboardInterrupt: ignored

## <font color = 'pickle'>**Step 4a: Understand the structure of unzipped folder/files**

In [ ]:
# check the content of the folder where files were extracted
for entries in data_folder.iterdir():
  if 'scale' in entries.name:
    print(entries.name)

In [ ]:
# Look in the new directory named 'scale_whole_review'

# we will use rglob which will help us to specify the pattern to search
# ** - Recursively matches zero or more directories that fall under the current directory.

for entries in (data_folder/'scale_whole_review').rglob('**'):
  print(entries)

## <font color = 'pickle'> **Step 6: Combine all text files and create Pandas Dataframe**

In [ ]:
# Create an empty dataframe
movie_reviews=pd.DataFrame()
# Add path to folder
path = data_folder / "scale_whole_review"
# Iterate through the path
for reviewers in path.iterdir():
  # Create an empty list to add all reviews
  reviews=[]
  # Add txt.parag directory to existing path
  file = reviewers /"txt.parag"
  for text_file in file.iterdir():
    # open, read the text file and append to reviews list
    with open(text_file, 'r', encoding="ISO-8859-1") as f:
      reviews.append(f.read())
  # Create an temporary dataframe for adding reviews of a particular reviewer
  temp_df=pd.DataFrame()
  # Add reviews to temporary dataframe
  temp_df["Review"]=reviews
  temp_df["Reviewer"] = [reviewers.name]*(len(reviews))
  # Concatenate the temporary review dataframe with movie_reviews dataframe
  movie_reviews=pd.concat([movie_reviews,temp_df], ignore_index=True)

movie_reviews

In [ ]:
# select 20 random rows from dataframe
indices = random.choices(range(0, len(movie_reviews)),k=20)
print(indices)
movie_reviews.iloc[indices,:]

# <font color ='pickle'> ** Feature Engineering and Preprocessing IMDB **


- <font color = 'dodgerblue'> **PreProcessing**:</font>
  1. Remove HTML tags and new line character (\n)
  2. Remove email, urls and punctuations

- <font color = 'dodgerblue'> **Feature Engineering**

  1. number of words
  2. number of characters
  3. number of characters without space
  4. average word length
  5. count of numbers(37, 201, 20 etc.)

You will use the imdb moview review dataset. The details of the data can be found from this link : https://ai.stanford.edu/~amaas/data/sentiment/.

Description of the data from the above link :
"*This is a dataset for binary sentiment classification containing substantially more data than previous benchmark datasets. We provide a set of 25,000 highly polar movie reviews for training, and 25,000 for testing. There is additional unlabeled data for use as well. Raw text and already processed bag of words formats are provided. See the README file contained in the release for more details.*".

We extracted the data from text files and save  the train and test data as csv files. We further cleaned the dataset. <font size =4, color = 'dodgerblue'>**We will use train.csv file for this task.**</font>.

## <font color = 'pickle'>**Import Data**

In [ ]:
df = pd.read_csv(data_folder/'train.csv')

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25000 entries, 0 to 24999
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  25000 non-null  int64
 1   Reviews     25000 non-null  object
 2   Labels      25000 non-null  int64
dtypes: int64(2), object(1)
memory usage: 586.1+ KB

In [ ]:
df.head()

   Unnamed: 0                                            Reviews  Labels
0           0  Ever wanted to know just how much Hollywood co...       1
1           1  The movie itself was ok for the kids. But I go...       1
2           2  You could stage a version of Charles Dickens' ...       1
3           3  this was a fantastic episode. i saw a clip fro...       1
4           4  and laugh out loud funny in many scenes.<br />...       1

In [ ]:
df = df.drop(['Unnamed: 0'], axis=1)
df

                                                 Reviews  Labels
0      Ever wanted to know just how much Hollywood co...       1
1      The movie itself was ok for the kids. But I go...       1
2      You could stage a version of Charles Dickens' ...       1
3      this was a fantastic episode. i saw a clip fro...       1
4      and laugh out loud funny in many scenes.<br />...       1
...                                                  ...     ...
24995  I really felt cheated after seeing this pictur...       0
24996  Ok,so.....guy gets bitten by a bat and then tu...       0
24997  I am generally more willing to be open minded ...       0
24998  What a load of rubbish.. I can't even begin to...       0
24999  Well, this movie started out funny but quickly...       0

[25000 rows x 2 columns]

## <font color = 'pickle'> **Pre-processing**

### <font color = 'pickle'>**Remove HTML Tags and new line characters**

In [ ]:
def basic_clean(text):
  soup = BeautifulSoup(text, 'html.parser')
  if bool(soup.find()) == True:
    text = soup.get_text()
  return re.sub(r'[\n\r]',' ', text)

In [ ]:
# take a small sample to try our function
sample = df.Reviews[6][700:750]

In [ ]:
sample

'funny.<br /><br />A toxic spill accident in a nucl'

In [ ]:
# apply the function to sample
cleaned_sample = basic_clean(str(sample))

In [ ]:
cleaned_sample

'funny.A toxic spill accident in a nucl'

In [ ]:
df['text_basic_clean'] = df.Reviews.apply(basic_clean)

In [ ]:
df.head()

,Reviews,Labels,text_basic_clean
0,Ever wanted to know just how much Hollywood co...,1,Ever wanted to know just how much Hollywood co...
1,The movie itself was ok for the kids. But I go...,1,The movie itself was ok for the kids. But I go...
2,You could stage a version of Charles Dickens' ...,1,You could stage a version of Charles Dickens' ...
3,this was a fantastic episode. i saw a clip fro...,1,this was a fantastic episode. i saw a clip fro...
4,and laugh out loud funny in many scenes.<br />...,1,and laugh out loud funny in many scenes.The mo...

In [ ]:
df.iloc[2, 0][450:550]

'evitably are this time of year.<br /><br />What makes this version really stand out is the somber gr'

In [ ]:
df.iloc[2, 2][450:550]

'evitably are this time of year.What makes this version really stand out is the somber gravitas that '

### <font color = 'pickle'>**Remove Punctuations, emails and urls**

In [ ]:
def clean_text(text, spacy_model):
  '''
  text : array of text
  spacy model: spacy model like en_core_web_sm
  '''
  nlp = spacy.load(spacy_model)
  disabled = nlp.select_pipes(disable=['tok2vec', 'tagger', 'parser', 'attribute_ruler', 'lemmatizer', 'ner'])
  cleaned_text = []
  for doc in nlp.pipe(text, batch_size=1000, n_process=-1):
      cleaned_doc = " ".join([token.text for token in doc if not (token.is_punct or token.like_email or token.like_url) ] )
      cleaned_text.append(cleaned_doc)
  return cleaned_text

In [ ]:
sample_df = pd.DataFrame({'text' :['a25 is ranked 36. urls is a24.com', 'what is your name? Are you in U.S.A.?', 'my email is xyz.com']})

In [ ]:
sample_df

                                    text
0      a25 is ranked 36. urls is a24.com
1  what is your name? Are you in U.S.A.?
2                    my email is xyz.com

In [ ]:
cleaned_text = clean_text(sample_df.text.values, 'en_core_web_sm')

In [ ]:
cleaned_text

['a25 is ranked 36 urls is',
 'what is your name Are you in U.S.A.',
 'my email is']

In [ ]:
sample_df['cleaned_text'] = cleaned_text
sample_df

                                    text                         cleaned_text
0      a25 is ranked 36. urls is a24.com             a25 is ranked 36 urls is
1  what is your name? Are you in U.S.A.?  what is your name Are you in U.S.A.
2                    my email is xyz.com                          my email is

In [ ]:
df['cleaned_text'] = clean_text(df.text_basic_clean.values, 'en_core_web_sm')

In [ ]:
df

,Reviews,Labels,text_basic_clean,cleaned_text
0,Ever wanted to know just how much Hollywood co...,1,Ever wanted to know just how much Hollywood co...,Ever wanted to know just how much Hollywood co...
1,The movie itself was ok for the kids. But I go...,1,The movie itself was ok for the kids. But I go...,The movie itself was ok for the kids But I got...
2,You could stage a version of Charles Dickens' ...,1,You could stage a version of Charles Dickens' ...,You could stage a version of Charles Dickens A...
3,this was a fantastic episode. i saw a clip fro...,1,this was a fantastic episode. i saw a clip fro...,this was a fantastic episode i saw a clip from...
4,and laugh out loud funny in many scenes.<br />...,1,and laugh out loud funny in many scenes.The mo...,and laugh out loud funny in many scenes The mo...
...,...,...,...,...
24995,I really felt cheated after seeing this pictur...,0,I really felt cheated after seeing this pictur...,I really felt cheated after seeing this pictur...
24996,"Ok,so.....guy gets bitten by a bat and then tu...",0,"Ok,so.....guy gets bitten by a bat and then tu...",Ok so guy gets bitten by a bat and then turns ...
24997,I am generally more willing to be open minded ...,0,I am generally more willing to be open minded ...,I am generally more willing to be open minded ...
24998,What a load of rubbish.. I can't even begin to...,0,What a load of rubbish.. I can't even begin to...,What a load of rubbish I ca n't even begin to ...
24999,"Well, this movie started out funny but quickly...",0,"Well, this movie started out funny but quickly...",Well this movie started out funny but quickly ...

In [ ]:
df.iloc[2, 0][450:550]

'evitably are this time of year.<br /><br />What makes this version really stand out is the somber gr'

In [ ]:
df.iloc[2, 3][450:550]

'ly are this time of year What makes this version really stand out is the somber gravitas that the ca'

##<font color = 'pickle'> **Extract Features**

In [ ]:
list_count_words =[]
list_count_characters =[]
list_count_characters_no_space =[]
list_avg_word_length=[]
list_count_numbers=[]

for sent in cleaned_text:
    words = re.sub(r'\b\d+\b','',sent)
    numbers = re.findall(r'\b\d+\b', sent)
    print(words)
    print(numbers)

    count_word = int(len(words.split()))
    count_char = int(len(words))
    count_char_no_space = int(len(''.join(words.split())))
    avg_word_length = count_char_no_space/count_word
    count_numbers = int(len(numbers))


    list_count_words.append(count_word)
    list_count_characters.append(count_char)
    list_count_characters_no_space.append(count_char_no_space)
    list_avg_word_length.append(avg_word_length)
    list_count_numbers.append(count_numbers)

a25 is ranked  urls is
['36']
what is your name Are you in U.S.A.
[]
my email is
[]

In [ ]:
print('words:', list_count_words)
print('characters:',list_count_characters)
print('characters_no_spaces:', list_count_characters_no_space)
print('avg_word_length:', list_avg_word_length)
print('numbers', list_count_numbers)

words: [5, 8, 3]
characters: [22, 35, 11]
characters_no_spaces: [17, 28, 9]
avg_word_length: [3.4, 3.5, 3.0]
numbers [1, 0, 0]

In [ ]:
def get_count_features(cleaned_text):
    list_count_words =[]
    list_count_characters =[]
    list_count_characters_no_space =[]
    list_avg_word_length=[]
    list_count_numbers=[]
    for sent in cleaned_text:
        words = re.sub(r'\b\d+\b','',sent)
        numbers = re.findall(r'\b\d+\b', sent)
        #print(words)
        #print(numbers)

        count_word = len(words.split())
        count_char = len(words)
        count_char_no_space = len(''.join(words.split()))
        avg_word_length = count_char_no_space/count_word
        count_numbers = len(numbers)


        list_count_words.append(count_word)
        list_count_characters.append(count_char)
        list_count_characters_no_space.append(count_char_no_space)
        list_avg_word_length.append(avg_word_length)
        list_count_numbers.append(count_numbers)

    count_features = np.vstack((list_count_words, list_count_characters,
                              list_count_characters_no_space, list_avg_word_length,
                              list_count_numbers ))
    return np.transpose(count_features)

In [ ]:
get_count_features(sample_df.cleaned_text.values)

array([[ 5. , 22. , 17. ,  3.4,  1. ],
       [ 8. , 35. , 28. ,  3.5,  0. ],
       [ 3. , 11. ,  9. ,  3. ,  0. ]])

In [ ]:
count_features = get_count_features(df.cleaned_text.values)

In [ ]:
count_features.shape

(25000, 5)

In [ ]:
df_count_features = pd.DataFrame(count_features, columns = ['count_words', 'count_characters',
                              'count_characters_no_space', 'avg_word_length','count_numbers'])

In [ ]:
df_count_features

,count_words,count_characters,count_characters_no_space,avg_word_length,count_numbers
0,241.0,1287.0,1046.0,4.340249,1.0
1,57.0,281.0,225.0,3.947368,0.0
2,848.0,4669.0,3821.0,4.505896,1.0
3,131.0,636.0,506.0,3.862595,0.0
4,105.0,545.0,441.0,4.200000,0.0
...,...,...,...,...,...
24995,282.0,1438.0,1152.0,4.085106,5.0
24996,44.0,208.0,165.0,3.750000,0.0
24997,357.0,1873.0,1516.0,4.246499,1.0
24998,270.0,1426.0,1154.0,4.274074,3.0
24999,143.0,747.0,605.0,4.230769,0.0

In [ ]:
df_final = pd.concat((df, df_count_features), axis =1)

In [ ]:
df_final.head()

,Reviews,Labels,text_basic_clean,cleaned_text,count_words,count_characters,count_characters_no_space,avg_word_length,count_numbers
0,Ever wanted to know just how much Hollywood co...,1,Ever wanted to know just how much Hollywood co...,Ever wanted to know just how much Hollywood co...,241.0,1287.0,1046.0,4.340249,1.0
1,The movie itself was ok for the kids. But I go...,1,The movie itself was ok for the kids. But I go...,The movie itself was ok for the kids But I got...,57.0,281.0,225.0,3.947368,0.0
2,You could stage a version of Charles Dickens' ...,1,You could stage a version of Charles Dickens' ...,You could stage a version of Charles Dickens A...,848.0,4669.0,3821.0,4.505896,1.0
3,this was a fantastic episode. i saw a clip fro...,1,this was a fantastic episode. i saw a clip fro...,this was a fantastic episode i saw a clip from...,131.0,636.0,506.0,3.862595,0.0
4,and laugh out loud funny in many scenes.<br />...,1,and laugh out loud funny in many scenes.The mo...,and laugh out loud funny in many scenes The mo...,105.0,545.0,441.0,4.200000,0.0

In [ ]:
columns = list(set(df_final.columns)-set(['Reviews', 'cleaned_text', 'Labels', 'text_basic_clean']))
columns

['count_words',
 'count_characters',
 'count_characters_no_space',
 'avg_word_length',
 'count_numbers']

In [ ]:
df_summary= df_final.groupby("Labels")[columns].mean().round(2).reset_index()
df_summary

,Labels,count_words,count_characters,count_characters_no_space,avg_word_length,count_numbers
0,0,233.65,1247.69,1013.88,4.32,1.45
1,1,239.15,1292.98,1053.75,4.37,1.35